<script type="text/javascript">
  mixpanel.track("Visit curriculum#show");
</script>
<div class="content">
  <div class="content-top group">
    <div class="content-title">
      <%= @curriculum.name %> (<%= @definitions.count %> definitions)
    </div>
    <div class="email-curriculum-button" id="curriculum-id" data-id="<%= @curriculum.id %>">
      <button id="add-cta" class="email-curriculum" data-id="email-curriculum-modal">
        Email Curriculum
      </button>
    </div>
  </div>
  <div class="content-body group">
    <div class="content-main">
      <%= render partial: "curriculum_definition", collection: @definitions, as: :definition %>
    </div>
</div>
<%= render 'email_curriculum_modal' %>