Curriculum: <%= @curriculum.name %>
<br>
Description: <%= @curriculum.description %>
<br>
<br>
Definitions
<ul>
  <% @curriculum.definitions.each do |definition| %>
    <li>
      <%= link_to definition.word.name, word_url(definition.word.id) %>: <%= definition.body %>
    </li>
  <% end %>
</ul>
<%= link_to "Edit", edit_curriculum_url(@curriculum.id) if (current_user.id == @curriculum.user_id || current_user.admin == true)%>
<br>
<br>
<form action="<%= email_curriculum_url(params[:id]) %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="recipient_email">Email:</label>
  <input type="text" name="recipient[email]" id="recipient_email">
  <input type="Submit" value="Email Curriculum">
</form>