<div class="content">
	<div class="content-boxes">
		<div class="content-box">
			<div class="content-box-pic">
				<%= image_tag "new-curriculum.png", size: "128x128" %>
			</div>
			<div class="content-box-text">
				<h3>
					New Curriculums
				</h3>
				<ul>
					<% @new_curriculums.each do |curriculum| %>
						<li>
							<%= link_to curriculum.name, curriculum_url(curriculum.id) %>
						</li>
					<% end %>
				</ul>
			</div>
		</div>
		<div class="content-box">
			<div class="content-box-pic">
				<%= image_tag "new-definition.png", size: "128x128" %>
			</div>
			<div class="content-box-text">
				<h3>
					New Definitions
				</h3>
				<ul>
					<% @new_definitions.each do |definition| %>
						<li>
							<%= link_to definition.word.name, word_url(definition.word.id) %>
							<br>
							<%= definition.body[0..45].gsub(/\s\w+\s*$/, '...') %>
						</li>
					<% end %>
				</ul>
			</div>
		</div>
		<div class="content-box">
			<div class="content-box-pic">
				<%= image_tag "new-word.png", size: "128x128" %>
			</div>
			<div class="content-box-text">
				<h3>
					New Words
				</h3>
				<ul>
					<% @new_words.each do |word| %>
						<li>
							<%= link_to word.name, word_url(word.id) %>
						</li>
					<% end %>
				</ul>
				</p>
			</div>
		</div>
	</div>
	<div class="add-words-box group">
		<p class="add-words-text">
			Did you learn a new word and want to share it with your teammates?  Add the word!  If you heard a new word, but don't know the definition, add the word and if one of your colleagues knows the definition they will help you out by adding the definition.
		</p>
		<div class="add-words-button">
			<button id="add-cta">
				Add a Word
			</button>
		</div>
	</div>
</div>