<div class="top">  
  <div class="nav group">
    <div class="nav-left-offer">
      <div class="logo">
        <p>
          <%= link_to 'Rampup Ready', root_url %>
        </p>
      </div>
    </div>
    <div class="nav-right-offer group">
      <div class="sign-up-text">
        Start your FREE trial today
      </div>
      <div class="sign-up-form">
        <input type="text" placeholder="Enter your email address">
        <button>Sign Up</button>
      </div>
      <%= link_to "Log In", new_session_url %>
    </div>
  </div>
</div>
<div class="content">
  <div class="headline">
    <h1>
      Help your employees get ramped up so they can do their job from day one.
    </h1>
    <br>
    <p>
      Rampup Ready is a private and interactive glossary your employees will use to learn industry and company terminology that they hear on a day-to-day basis.
    </p>
  </div>
  <div class="testimonials">
    <div class="content-boxes">
    <div class="content-box">
      <div class="content-box-pic">
        <%= image_tag "testimonial-placeholder-1.jpg", size: "128x128", class: "testimonial" %>
      </div>
      <div class="content-box-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>
    <div class="content-box">
      <div class="content-box-pic">
        <%= image_tag "testimonial-placeholder-2.jpg", size: "128x128", class: "testimonial" %>
      </div>
      <div class="content-box-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>
    <div class="content-box">
      <div class="content-box-pic">
        <%= image_tag "testimonial-placeholder-3.jpg", size: "128x128", class: "testimonial" %>
      </div>
      <div class="content-box-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>
  </div>
  <hr>
  <div class="benefits">
    <div class="benefits-headline">
      <h1>
        A glossary is only useful if it is scalable, organized<br>and engaging.
      </h1>
    </div>
    <div class="benefit-statements">
      <div class="benefit-statement group">
        <div class="benefit-icon">
          <%= image_tag "add.png", size: "16x16" %>
        </div>
        <div class="benefit-content">
          Content is searchable and automatically organized so that it never becomes overwhelming to maintain.
        </div>
      </div>
      <div class="benefit-statement group">
        <div class="benefit-icon">
          <%= image_tag "add.png", size: "16x16" %>
        </div>
        <div class="benefit-content">
          A centralized glossary helps everyone speak the same language and keeps all employees up to date.
        </div>
      </div>
      <div class="benefit-statement group">
        <div class="benefit-icon">
          <%= image_tag "add.png", size: "16x16" %>
        </div>
        <div class="benefit-content">
          Leaderboards and badges for the most active employees makes education fun and engages employees.
        </div>
      </div>
    </div>
  </div>
</div>