<div class="top">  
  <div class="nav group">
    <div class="nav-left-offer">
      <div class="logo">
        <p>
          <%= link_to 'Rampup Ready', root_url %>
        </p>
      </div>
    </div>
    <div class="nav-right-offer group">
      <div class="sign-up-text">
        Start your FREE trial today
      </div>
      <div class="sign-up-form">
        <input type="text" placeholder="Enter your email address">
        <button>Sign Up</button>
      </div>
      <%= link_to "Log In", new_session_url %>
    </div>
  </div>
</div>
<div class="content">
  <div class="headline">
    <h1>
      Help your employees get ramped up so they can do their job from day one.
    </h1>
    <br>
    <p>
      Rampup Ready is a private and interactive glossary your employees will use to learn industry and company terminology that they hear on a day-to-day basis.
    </p>
  </div>
  <div class="testimonials">
    <div class="content-boxes">
    <div class="content-box">
      <div class="content-box-pic">
        <%= image_tag "testimonial-placeholder-1.jpg", size: "128x128", class: "testimonial" %>
      </div>
      <div class="content-box-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>
    <div class="content-box">
      <div class="content-box-pic">
        <%= image_tag "testimonial-placeholder-2.jpg", size: "128x128", class: "testimonial" %>
      </div>
      <div class="content-box-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>
    <div class="content-box">
      <div class="content-box-pic">
        <%= image_tag "testimonial-placeholder-3.jpg", size: "128x128", class: "testimonial" %>
      </div>
      <div class="content-box-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>
  </div>
  <hr>
  <div class="benefits">
    <div class="benefits-headline">
      <h1>
        A glossary is only useful if it is scalable, organized<br>and engaging.
      </h1>
    </div>
    <div class="benefit-statements">
      <div class="benefit-statement group">
        <div class="benefit-icon">
          <%= image_tag "add.png", size: "16x16" %>
        </div>
        <div class="benefit-content">
          Content is searchable and automatically organized so that it never becomes overwhelming to maintain.
        </div>
      </div>
      <div class="benefit-statement group">
        <div class="benefit-icon">
          <%= image_tag "add.png", size: "16x16" %>
        </div>
        <div class="benefit-content">
          A centralized glossary helps everyone speak the same language and keeps all employees up to date.
        </div>
      </div>
      <div class="benefit-statement group">
        <div class="benefit-icon">
          <%= image_tag "add.png", size: "16x16" %>
        </div>
        <div class="benefit-content">
          Leaderboards and badges for the most active employees makes education fun and engages employees.
        </div>
      </div>
    </div>
  </div>
  <div class="walkthrough">
    <div class="feature group">
      <div class="feature-left">
        <%= image_tag "invite2.png", class: "feature-img" %>
      </div>
      <div class="feature-right">
        <div class="feature-text">
          <h1>Make learning scalable.</h1>
          <br>
          <p>
            Invite champions from different departments to contribute words and definitions that the rest of the company needs to know.  Invite all or as many employee as you need.
          </p>
        </div>
      </div>
    </div>
    <div class="feature group">
      <div class="feature-left">
        <div class="feature-text">
          <h1>Know exactly where your employees are struggling.</h1>
          <br>
          <p>
            Get reports on how your employees are using the glossary including frequently searched words.
          </p>
        </div>
      </div>
      <div class="feature-right">
        <%= image_tag "graphs.png", class: "feature-img", size: "500x315" %>
      </div>
    </div>
    <div class="feature group">
      <div class="feature-left">
        <%= image_tag "curriculum2.png", class: "feature-img" %>
      </div>
      <div class="feature-right">
        <div class="feature-text">
          <h1>New employees are more prepared on day one.</h1>
          <br>
          <p>
            Use the curriculum builder to create a curriculum of words and definitions that a new hire can use on day one.
          </p>
        </div>
      </div>
    </div>
    <div class="feature group">
      <div class="feature-left">
        <div class="feature-text">
          <h1>Employees become their client's most knowledgeable partner.</h1>
          <br>
          <p>
            All the definitions are quickly searchable.
          </p>
        </div>
      </div>
      <div class="feature-right">
        <%= image_tag "search.png", class: "feature-img", size:"500x300"%>
      </div>
    </div>
    <div class="feature group">
      <div class="feature-left">
        <%= image_tag "adddefinition.png", class: "feature-img" %>
      </div>
      <div class="feature-right">
        <div class="feature-text">
          <h1>Employees can help each other.</h1>
          <br>
          <p>
            Many terms have different definitions.  Provide all the definitions and let your employees vote on which ones are most applicable.
          </p>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="what-you-get">
    <div class="what-you-get-headline">
      <h1>Are you ready to ramp up your team?</h1>
      <br>
      <p>
        Here's what you get:
      </p>
    </div>
    <div class="benefit-statements">
      <div class="benefit-statement group">
        <div class="benefit-icon">
          <%= image_tag "add.png", size: "16x16" %>
        </div>
        <div class="benefit-content">
          A private company glossary for your team to add as many words and definitions as you need.
        </div>
      </div>
      <div class="benefit-statement group">
        <div class="benefit-icon">
          <%= image_tag "add.png", size: "16x16" %>
        </div>
        <div class="benefit-content">
          As many user accounts as your company needs.
        </div>
      </div>
      <div class="benefit-statement group">
        <div class="benefit-icon">
          <%= image_tag "add.png", size: "16x16" %>
        </div>
        <div class="benefit-content">
          Reports sent to you with usage data, like the most searched words or topics.
        </div>
      </div>
      <div class="benefit-statement group">
        <div class="benefit-icon">
          <%= image_tag "add.png", size: "16x16" %>
        </div>
        <div class="benefit-content">
          A curriculum builder to create a guide for new and existing employees.
        </div>
      </div>
    </div>
  </div>
  <div class="sign-up-offer">
    <div class="sign-up-offer-headline">
      <h1>Start your free trial today.</h1>
      <br>
      <p>
        You get a free 50-word glossary forever.  For more words, it costs only $5 per user/month.
      </p>
    </div>
    <div class="bottom-sign-up-form">
      <form action="<%= start_url %>" method="post">
        <input type="text" placeholder="Enter your email address" name="user[email]">
        <button id="add-cta">Sign Up</button>
      </form>
    </div>
  </div>
</div>