<div class="definition group" id="<%= definition.id %>">
  <div class="definition-content">
    <div class="definition-body">
      <%= definition.body %>
    </div>
    <div class="definition-examples">
      <% unless definition.examples.empty? %>
        Example: <%= definition.examples[0].body %>
      <% end %>
    </div>
    <div class="definition-tags">
      <% if definition.tags %>
        <% tags = definition.tags %>
        <%= render partial: 'tags/tag', collection: tags, spacer_template: 'shared/comma' %>
      <% else %>
        No tags, yet.
      <% end %>
    </div>
    <div class="definition-options">
      <% if DefinitionFave.find_by_definition_id_and_user_id(definition.id, current_user.id) %>
        <span id="unfavorite"><a href="#" data-id="<%= definition.id %>" data-action="unfavorite" id="fave-link">Unfavorite</a></span>
        <span id="favorite" class="hidden"><a href="#" data-id="<%= definition.id %>" data-action="favorite" id="fave-link">Mark as Favorite</a></span>
      <% else %>
        <span id="unfavorite" class="hidden"><a href="#" data-id="<%= definition.id %>" data-action="unfavorite" id="fave-link">Unfavorite</a></span>
        <span id="favorite"><a href="#" data-id="<%= definition.id %>" data-action="favorite" id="fave-link">Mark as Favorite</a></span>
      <% end %>
        <form action="<%= add_to_curriculum_definition_url %>" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <select name="curriculum_id">
            <option>Add to Curriculum</option>
            <% curriculums.each do |curriculum| %>
              <option value="<%= curriculum.id %>"><%= curriculum.name %></option>
            <% end %>
          </select>
          <input type="hidden" name="definition_id" value="<%= definition.id %>">
          <input type="Submit" value="Add">
        </form>
    </div>
  </div>
  <div class="definition-votes">
    <div class="upvote-arrow" data-id=<%= definition.id %>></div>
    <br><span id="total-score"><%= definition.total_score %></span><br>
    <div class="downvote-arrow" data-id=<%= definition.id %>></div>
  </div>
</div>