<h3>Add New Definition</h3>
<form action="<%= word_definitions_url(params[:id]) %>" method="post" id="new-def-form" data-remote="tru">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="definition_body">Definition</label>
  <input type="text" name="definition[body]" id="definition_body">
  <br>
  <label for="example_body">Example</label>
  <input type="text" name="example[body]" id="example_body">
  <br>
  <select name="definition[subdivision_id]">
		<option selected="selected" disabled="disabled">Select Subdivision</option>
    <% @subdivisions.each do |subdivision| %>
      <option value="<%= subdivision.id %>"><%= subdivision.name %></option>
    <% end %>
  </select>
	<select name="definition[tag_ids][]" multiple data-placeholder="Select Tags">
		<% @tags.each do |tag| %>
			<option value="<%= tag.id %>"><%= tag.name %></option>
		<% end %>
	</select>
  <!-- <ul>
    <% @tags.each do |tag| %>
      <li>
        <input type="checkbox" name="definition[tag_ids][]" value="<%= tag.id %>"><%= tag.name %></input>
      </li>
    <% end %>
  </ul> -->
  <input type="Submit" class="submit" value="Add Definition">
</form>