<form action="<%= definition_url(params[:id]) %>" method="POST">
  <input type="hidden" name="_method" value="PUT">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="definition_body">Definition:</label>
  <input type="text" name="definition[body]" value="<%= @definition.body %>" id="definition_body">
  <label for="example_body">Example:</label>
  <input type="text" name="example[body]" value="<%= @example.body %>" id="example_body">
  <select name="definition[subdivision_id]">
	  <% @subdivisions.each do |subdivision| %>
	  <% selected = subdivision.id == @definition.subdivision_id ? "selected" : "" %>
	  	<option value="<%= subdivision.id %>" <%= selected.html_safe %>><%= subdivision.name %></option>
	  <% end %>
  </select>
  <input type="Submit" value="Update Definition">
</form>

