<br>
Words#show
<br>
<h1><%= @word.name %></h1>
<h2>Definitions</h2>
<h3>Add New Definition</h3>
<form action="<%= word_definitions_url(params[:id]) %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="definition_body">Definition</label>
  <input type="text" name="definition[body]" id="definition_body">
  <select name="definition[subdivision_id]">
    <%= @subdivisions.each do |subdivision| %>
      <option id="<%= subdivision.id %>"><%= subdivision.name %></option>
    <% end %>
  </select>
  <input type="Submit" value="Add Definition">
</form>
<ul>
  <% @definitions.each do |definition| %>
    <li><%= definition.body %></li>
  <% end %>
</ul>