<h1><%= @word.name %></h1>
<div class="container-body group">
  <div class="related-words">
    <%= render 'related_words' %>
  </div>
  <div class="word-defs">
    <%= render '/definitions/word_defs' %>
  </div>
  <!-- <div class="tags">
    <%= render '/tags/all_word_tags' %>
  </div> -->
  <div class="new-defs-form">
    <%= render '/definitions/new_defs' %>
  </div>
</div>