<div class="content">
  <div class="content-top group">
    <div class="content-title">
      <%= @word.name %>
    </div>
    <div class="add-to-curriculum-button">
      <button id="add-cta">
        Add to Curriculum
      </button>
    </div>
  </div>
  <div class="content-body group">
    <div class="content-main">
      <%= render @definitions %>
      <div class="add-a-definition-button">
        <button id="add-sub-cta" class="add-definition" data-id="add-definition-modal">
          Add a Definition
        </button>
      </div>
    </div>
    <div class="content-sidebar">
      <h3>Tags</h3>
      <ul>
        <% @word_tags.each do |tag| %>
          <li>
            <%= tag.name %>
            <!-- @TODO: turn clicking on the tag name to search for words with the same tag -->
          </li>
        <% end %>
      </ul>
      <br>
      <h3>Related Words</h3>
      <ul>
        <% @related_words.each do |word| %>
          <li>
            <%= link_to word.name, word_url(word.id) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="add-definition-modal hidden">
  <div class="form">
    <div class="definition-word">
      <h1><%= @word.name %></h1>
    </div>
    <div class="definition">
      <label for="definition_body"><h2>Definition</h2></label>
      <textarea name="definition[body]" id="definition_body" type="text" placeholder="Type definition here"></textarea>
    </div>
    <div class="tags">
      <label for="definition_tag_ids"><h3>Tags (optional)</h3></label>
    </div>
    <div class="example">
      <label for="example_body"><h3>Example (optional)</h3></label>
      <textarea name="example[body]" id="example_body" placeholder="Type example here"></textarea>
    </div>
    <div class="actions">
      <span class="cancel">
        <a href="#" data-id="add-definition-modal">Cancel</a>
      </span>
      <button id="add-cta">
        Add
      </button>
    </div>
  </div>
</div>