<br>
Words#show
<br>
<h1><%= @word.name %></h1>
<h2>Definitions</h2>
<h3>Add New Definition</h3>
<form action="<%= word_definitions_url(params[:id]) %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="definition_body">Definition</label>
  <input type="text" name="definition[body]" id="definition_body">
  <br>
  <label for="example_body">Example</label>
  <input type="text" name="example[body]" id="example_body">
  <br>
  <select name="definition[subdivision_id]">
    <%= @subdivisions.each do |subdivision| %>
      <option value="<%= subdivision.id %>"><%= subdivision.name %></option>
    <% end %>
  </select>
  <br>
  <input type="Submit" value="Add Definition">
</form>
<ul>
  <% @definitions.each do |definition| %>
    <% if user_logged_in %>
		<% have_permission = (definition.user_id == current_user.id || current_user.admin == true) %>
	<% end %>
    <li>
      <%= definition.body %>
	  <ul>
		  <% definition.examples.each do |example| %>
			  <li>
				  <%= example.body %>
			  </li>
		  <% end %>
	  </ul>
      <%= link_to "Edit", edit_definition_url(definition.id) if have_permission %>
      <%= button_to "Delete", definition_url(definition.id), method: :delete if have_permission %>
    </li>
  <% end %>
</ul>