<!DOCTYPE html>
<html>
<head>
  <title>Workwiki</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="notices hidden"></div>
  <%= render 'shared/header' %>
  <div class="container">
    <%= yield %>
  </div>
  <footer>
  </footer>
</body>
</html>
