<!DOCTYPE html>
<html>
<head>
  <title>Workwiki</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_logged_in %>
    Hi, <%= current_user.email %>!
    <%= button_to "Log Out", session_url, method: :delete %>
  <% else %>
    No user logged in.
  <% end %>
<%= flash[:errors] if flash[:errors] %>
<%= yield %>

</body>
</html>
