<!DOCTYPE html>
<html>
<head>
  <title>Workwiki</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="social">
    <div class="social-wrapper group">
      <button class="subscribe">Subscribe</button>
      <button class="feedback">Feedback</button>
      <button class="fb-like">Like</button>
      <button class="tw-follow">Follow</button>
      <button class="lang">English</button>
    </div>
  </div>
  <div class="notices hidden"></div>
  <%= render 'shared/header' %>
  <div class="container">
    <%= yield %>
    <div class="compose-message-modal hidden modal">
      <form action="<%= messages_url %>" method="post" data-remote="true" class="compose-message-form">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        From: <%= current_user.email if user_logged_in %>
        <br>
        <label for="message_recipient_id">To:</label>
        <select name="message[recipient_id]">
          <% User.all.each do |recipient| %>
            <option value="<%= recipient.id %>"><%= recipient.email %></option>
          <% end %>
        </select>
         <br>
        <label for="message_subject">Subject:</label>
        <input type="text" id="message_subject" name="message[subject]">
         <br>
        <label for="message_body">Body:</label>
        <textarea id="message_body" name="message[body]" rows="5" cols="50"></textarea>
         <br>
        <input type="Submit" value="Send Message">
      </form>
      <a href="#" id="close-compose-message-modal">Close</a>
    </div>
    <div class="add-first-definition hidden modal">
      <form action="#" method="post" id="new-def-form" data-remote="tru">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <label for="definition_body">Definition</label>
        <input type="text" name="definition[body]" id="definition_body">
        <br>
        <label for="example_body">Example</label>
        <input type="text" name="example[body]" id="example_body">
        <br>
        <select name="definition[subdivision_id]">
          <%= Subdivision.all.each do |subdivision| %>
            <option value="<%= subdivision.id %>"><%= subdivision.name %></option>
          <% end %>
        </select>
        <ul>
          <% Tag.all.each do |tag| %>
            <li>
              <input type="checkbox" name="definition[tag_ids][]" value="<%= tag.id %>"><%= tag.name %></input>
            </li>
          <% end %>
        </ul>
        <input type="Submit" value="Add Definition">
      </form>
      <a href="#" id="close-add-first-definition-modal">Close</a>
    </div>
  </div>
  <footer>
  </footer>
  <div class="black_overlay"></div>
</body>
</html>
