<!DOCTYPE html>
<html>
<head>
  <title>RampUpReady.com</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="social">
    <!-- <div class="social-wrapper group">
      <button class="subscribe">Subscribe</button>
      <button class="feedback">Feedback</button>
      <button class="fb-like">Like</button>
      <button class="tw-follow">Follow</button>
      <button class="lang">English</button>
    </div> -->
		<!-- <div id="mc_embed_signup">
			<form action="http://rampupready.us3.list-manage.com/subscribe/post?u=b90e87098ef38835c907b5081&amp;id=a90dba441a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<label for="mce-EMAIL">This is a demo site.  Enter your email below to be notified when the site is available for you to use:</label>
				<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
			    <div style="position: absolute; left: -5000px;"><input type="text" name="b_b90e87098ef38835c907b5081_a90dba441a" value=""></div>
				<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
			</form>
		</div> -->
			<div id="mc_embed_signup">
				<form action="http://rampupready.us3.list-manage2.com/subscribe/post?u=b90e87098ef38835c907b5081&amp;id=a90dba441a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					This is a demo site.
					<br>
					<strong>Enter your email address</strong> below to be notified when the site is available for you to use.
					<br>
					No spam.  Unsubscribe at any time.
					<div class="sign-up-fields-wrapper group">
						<div class="mc-field-group">
							<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" size="50">
						</div>
						<div id="mce-responses" class="clear">
							<div class="response" id="mce-error-response" style="display:none"></div>
							<div class="response" id="mce-success-response" style="display:none"></div>
						</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					  <div style="position: absolute; left: -5000px;"><input type="text" name="b_b90e87098ef38835c907b5081_a90dba441a" value=""></div>
						<button id="subscribe">Subscribe</button>
					</div>
					<!-- <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"> -->
				</form>
			</div>		
  </div>
  <div class="notices hidden"></div>
  <%= render 'shared/header' %>
  <div class="container">
    <%= yield %>
    <div class="compose-message-modal hidden modal">
      <form action="<%= messages_url %>" method="post" data-remote="true" class="compose-message-form">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        From: <%= current_user.email if user_logged_in %>
        <br>
        <label for="message_recipient_id">To:</label>
        <select name="message[recipient_id]">
          <% User.all.each do |recipient| %>
            <option value="<%= recipient.id %>"><%= recipient.email %></option>
          <% end %>
        </select>
         <br>
        <label for="message_subject">Subject:</label>
        <input type="text" id="message_subject" name="message[subject]">
         <br>
        <label for="message_body">Body:</label>
        <textarea id="message_body" name="message[body]" rows="5" cols="50"></textarea>
         <br>
        <input type="Submit" value="Send Message">
      </form>
      <a href="#" id="close-compose-message-modal">Close</a>
    </div>
    <div class="add-first-definition-modal hidden modal">
      <form action="<%= definitions_url %>" method="post" id="new-def-form" data-remote="true" class="add-first-definition-form">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" id="word-id" name="word_id" value="">
        <input type="hidden" name="from_modal" value="true">
        <label for="definition_body">Definition</label>
        <input type="text" name="definition[body]" id="definition_body">
        <br>
        <label for="example_body">Example</label>
        <input type="text" name="example[body]" id="example_body">
        <br>
        <select name="definition[subdivision_id]">
          <%= Subdivision.all.each do |subdivision| %>
            <option value="<%= subdivision.id %>"><%= subdivision.name %></option>
          <% end %>
        </select>
        <ul>
          <% Tag.all.each do |tag| %>
            <li>
              <input type="checkbox" name="definition[tag_ids][]" value="<%= tag.id %>"><%= tag.name %></input>
            </li>
          <% end %>
        </ul>
        <input type="Submit" value="Add Definition">
      </form>
      <a href="#" id="close-add-first-definition-modal">Close</a>
    </div>
  </div>
  <footer>
  </footer>
  <div class="black_overlay"></div>
</body>
</html>

<script>
  var pusher = new Pusher('<%= ENV["PUSHER_KEY"] %>')
  var channel = pusher.subscribe("messages")
  channel.bind('new', function(data){
    $.ajax({
      url: '/notify_recipient',
      data: {recipient_id: data.recipient_id },
      type: 'get',
      dataType: 'json',
      success: function(data, response, xhr){
        if (data.current_user === "true") {
          $('.nav-bar-inbox a').html("Inbox" + data.message_count);
          $('div.notices').empty();
          $('div.notices').fadeIn();
          $('div.notices').removeClass('hidden');
          $('div.notices').append("You've received a new message!");
          window.setTimeout(function() {
            $('div.notices').fadeOut();
          }, 3000)
        }
      }
    })
  })
</script>
